/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
.button {
   -fx-font-weight: bold;
   -fx-font-size: 15pt;
   -fx-background-color:rgb(211,211,211);
}
.button:hover{
   -fx-font-size: 25pt;
}
.leftButton :hover {
   -fx-background-color:#d3d3d3;
}
/* ÎÞÐ§
.button :clicked {
   -fx-font-family: "Î¢ÈíÑÅºÚ";
   -fx-font-size: 25pt;
   -fx-background-color:brown ;
}
*/
